# ASSIGNMENT OF DATAFRAME  QUESTION PART - 1
# QUESTION - 1

In [1]:
import pandas as pd
c={'RollNo':[1,2,3,4],'Name':['Paras Sharma','Mohan Kumar','Virat Kohli','Sugandha'],'UT1':[24,18,21,22],'UT2':[24,17,22,20],'UT3':[20,19,18,24],'UT4':[22,22,24,20]}
df=pd.DataFrame(c)
print(df)

   RollNo          Name  UT1  UT2  UT3  UT4
0       1  Paras Sharma   24   24   20   22
1       2   Mohan Kumar   18   17   19   22
2       3   Virat Kohli   21   22   18   24
3       4      Sugandha   22   20   24   20

# QUESTION-2

In [2]:

print(df.loc[3])

RollNo           4
Name      Sugandha
UT1             22
UT2             20
UT3             24
UT4             20
Name: 3, dtype: object

# QUESTION-3

In [3]:
print( df.count())

RollNo    4
Name      4
UT1       4
UT2       4
UT3       4
UT4       4
dtype: int64

# QUESTION - 4

In [4]:
import pandas as pd
c={'RollNo':[1,2,3,4],'Name':['Paras Sharma','Mohan Kumar','Virat Kohli','Sugandha'],'UT1':[24,18,21,22],'UT2':[24,17,22,20],'UT3':[20,19,18,24],'UT4':[22,22,24,20]}
df=pd.DataFrame(c)
print(df)
print(df.columns)

   RollNo          Name  UT1  UT2  UT3  UT4
0       1  Paras Sharma   24   24   20   22
1       2   Mohan Kumar   18   17   19   22
2       3   Virat Kohli   21   22   18   24
3       4      Sugandha   22   20   24   20
Index(['RollNo', 'Name', 'UT1', 'UT2', 'UT3', 'UT4'], dtype='object')

# QUESTION - 5

In [5]:
df['Grade']=["A","B","A","A"]
print(df)

   RollNo          Name  UT1  UT2  UT3  UT4 Grade
0       1  Paras Sharma   24   24   20   22     A
1       2   Mohan Kumar   18   17   19   22     B
2       3   Virat Kohli   21   22   18   24     A
3       4      Sugandha   22   20   24   20     A

# QUESTION - 6

In [6]:
print(df.head(3))

   RollNo          Name  UT1  UT2  UT3  UT4 Grade
0       1  Paras Sharma   24   24   20   22     A
1       2   Mohan Kumar   18   17   19   22     B
2       3   Virat Kohli   21   22   18   24     A

# QUESTION - 7

In [7]:
print(df.drop(1,axis=0))

   RollNo          Name  UT1  UT2  UT3  UT4 Grade
0       1  Paras Sharma   24   24   20   22     A
2       3   Virat Kohli   21   22   18   24     A
3       4      Sugandha   22   20   24   20     A

#  QUESTION - 8

In [8]:
df['Total']=df["UT1"]+df["UT2"]+df["UT3"]+df["UT4"]
print(df)

   RollNo          Name  UT1  UT2  UT3  UT4 Grade  Total
0       1  Paras Sharma   24   24   20   22     A     90
1       2   Mohan Kumar   18   17   19   22     B     76
2       3   Virat Kohli   21   22   18   24     A     85
3       4      Sugandha   22   20   24   20     A     86

# QUESTION - 9

In [9]:
print(df.drop(3,axis=0))

   RollNo          Name  UT1  UT2  UT3  UT4 Grade  Total
0       1  Paras Sharma   24   24   20   22     A     90
1       2   Mohan Kumar   18   17   19   22     B     76
2       3   Virat Kohli   21   22   18   24     A     85

# QUESTION - 10

In [10]:
print(df.ndim)
print(df.shape)

2
(4, 8)

# QUESTION-11

In [11]:
print(df.size)

32

# QUESTION - 12

In [12]:
print(df.isna())

   RollNo   Name    UT1    UT2    UT3    UT4  Grade  Total
0   False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False

# ASSIGNMENT OF DATAFRAME PART-2

In [13]:
import pandas as pd
a={'Name':['Sharad','Mansi','Kanika','Ramesh','Ankita','Pranay'],'UT1':[56,86,92,52,93,98],'Half Yearly':[83,67,78,84,75,79],'UT2':[49,87,45,55,87,88],'Final':[89,90,66,78,69,96]}
df1=pd.DataFrame(a)
print(df1)

     Name  UT1  Half Yearly  UT2  Final
0  Sharad   56           83   49     89
1   Mansi   86           67   87     90
2  Kanika   92           78   45     66
3  Ramesh   52           84   55     78
4  Ankita   93           75   87     69
5  Pranay   98           79   88     96

# QUESTION - 1(i)

In [14]:
import pandas as pd
q=[{'Names':'M S Dhoni','Matches played':251,'Avg. Score':36}
   {'Names':'Deepak','Matches played':71,'Avg. Score':32}
   {'Names ':'Raina','Matches played':167,'Avg. Score':42}
   {'Names ':'Ruturaj','Matches played':56,'Avg. Score':52}
   {'Names ':'Faf','Matches played':187,,'Avg. Score':62}
w=pd.DataFrame()

SyntaxError: invalid syntax (1271655850.py, line 3)

# QUESTION - 1(ii)

In [ ]:
import pandas as pd
a={'Name':['Pen','Pencil','Notebook','Eraser','Sharpner'],'Cost Price':[10,5,40,5,5],'Sales Price':[]}